# .gitignore config file

# Exclude OS X folder attributes
.DS_Store

# intermedia files
DerivedData/

# Exclude user-specific XCode files
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcshareddata/
xcuserdata/
build/
*.xccheckout

